h1{
    color:blue;
    text-align: center;
}
.container{
    justify-content: center;
    margin: 0 auto;
}
table{
    display: inline-block;
    padding: 60px;
    margin: 40vw, 40vh;
}
td{
    background: blue;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
#void{
    background: orange;
}

.dogPiece{
    color: orange;
    height: 60px;
    width: 60px;

}
.pupsTurn{
    color: orange;
    text-align: center;
    font-size: large;
}
.dogsTurn{
    color: blue;
    text-align: center;
    font-size: larger;
}
#separate{
    color: aquamarine;
    font-size: xx-large;
    text-align: center;
}